@tailwind base;
@tailwind components;
@tailwind utilities;

/*
CSSTransitionGroup styling
 */
.sheetNames-enter {
  opacity: 0;
}

.sheetNames-enter.sheetNames-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.sheetNames-exit {
  opacity: 1;
}

.sheetNames-exit.sheetNames-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.sheetNames-appear {
  opacity: 0;
}

.sheetNames-appear.sheetNames-appear-active {
  opacity: 1;
  transition: opacity 0.5ms ease-in;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
